<!DOCTYPE html>
<html>
<head>
    <title>OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <div class="check">✔</div>

    <div class="title">Welcome, {{ name }}</div>

    <div class="subtitle">OTP sent to your phone</div>

    <form action="/verify" method="post">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <br><br>
        <button class="btn">Verify</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>